@model IEnumerable<GestionMouvementCarte.Models.Employe>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />

<p>
    <a asp-action="Create">Ajouter</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MotDePasse)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prenom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MotDePasse)
            </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Matricule" class="btn btn-warning btn-sm" title="Edit">
                        Edit
                    </a> |
                    <a asp-action="Details" asp-route-id="@item.Matricule" class="btn btn-info btn-sm" title="Details">
                        Details
                    </a> |
                    <a asp-action="Delete" asp-route-id="@item.Matricule" class="btn btn-danger btn-sm" title="Delete">
                        Delete
                    </a>
                </td>

        </tr>
}
    </tbody>
</table>
